:root {
  --color-background: #2f3640;
  --color-text: #f5f6fa;
  --breakpoint-lg: 1024px;
  --breakpoint-md: 768px;
  --spacing-md: 1rem;
  --spacing-sm: 0.75rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
}
